*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/**Header section**/
.navbar{
    padding: 20px 0 !important;
    background-color: #FFE4E1;
}
.my-account{
    text-decoration: none;
    color: black;
    font-weight: 500;
    margin-left: 20px;
    margin-right: 30px;
    transition: 0.5s;
}
.my-account:hover{
    color: tomato;
}
.fa-bag-shopping{
    font-size: 30px;
    color: black;
}
.fa-magnifying-glass{
    color: black;
    margin-left: -40px;
    margin-top: 10px;
}
.nav-item a:hover{
    color: tomato !important;
}

/**Hero section start**/
.extra{
    background-color: #FFE4E1;
    padding: 10px;
    
}
.image{
    background-color: #FFE4E1;
    height: 105vh;
    margin-bottom: 100px;
    
    
}
.furniture-image{
    margin-left: -130px;
}

.discover-btn{
    display: block;
}
.card-offer{
    width: 30%;
    margin-top: -450px;
    color: white;
    margin-left: 270px;
    
}
.card-offer h1{
    font-size: 50px;
}
.btn{
    background-color: tomato !important;
}
/**Product section**/
.product-menu a{
    text-decoration: none;
    color: black;
    margin-left: 35px;
}
.product-menu a:hover{
    color: tomato;
}
.card-body a{
    text-decoration: none;
    color: black;
}
.card-body a:hover{
    border-bottom: 1px solid black;
    color: black;
}


/**Best manufactureer section**/
.manufacturer h1{
    font-weight: bold;
    font-size: 40px;
}
.manufacturer{
    background-color: #FFE4E1;
    padding-left: 40px !important;
    padding-top: 130px;
}
 

